* {
    /* margin: 0;
    padding: 0; */
}
/*  */
li {
    /* list-style: none; */
}

ul {
    list-style: none; 
}

body {
    height: 100%;
    overflow: hidden;
}

.container > .board > ul {
    border: 1px solid #333;
    width: 450px;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */
    margin: 0 auto;
}


.container > .board > ul > li {
    width: 100%;
    /* height: 200px; */
    height: auto;
    /* list-style: none; */
}

.container > .board > ul > li > ul {
    display: flex;
}

.container > .board > ul > li > ul > li {
    width: 35px;
    height: 35px;
    outline: 1px solid #aaa;
}